div {
    margin: 20px;
    padding: 20px;
    border: 1px solid #007BFF; 
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  h2 {
    color: #FF5733; 
  }
  form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
  }
  label {
    margin-bottom: 5px;
    color: #57067c; 
  }
  input {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #57067c; 
    border-radius: 3px;
    font-size: 14px;
  }
  button {
    padding: 10px;
    background-color: #28A745; 
    color: #fff; 
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  button:hover {
    background-color: #218838; 
  }
  p {
    margin-top: 15px;
    font-size: 16px;
    color: #FF5733;
  }
  